*{margin:0;padding:0;box-sizing:border-box}
body{font-family:helvetica;line-height:1.7;background:#dbd8d8;color:#333;overflow-x:hidden}

/* NAVIGATION */
nav{
    top:0;
    width:100%;
    z-index:1000;
    padding:1.2rem 0;
    background: rgba(19, 12, 1, 0.966);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    transition: all .4s;
    overflow: hidden;
}
.nav-container{
    max-width:1400px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 2rem;
    position:relative
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    text-decoration:none;
    color:#e6e1e0;
    font-weight:bold;
    font-size:1rem;
}
.logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 0.3); /* optional: border tipis putih */
    background-color: transparent !important;
}  
.logo:hover img{
    transform: scale(1.08);
}
.nav-links{
    display:flex;
    list-style:none;
    gap:2.5rem
}
.nav-links a{
    text-decoration:none;
    color:#e6e1e0;
    font-weight:600;
    padding:8px 18px;
    border-radius:30px;
    transition:all .3s
}
.nav-links a:hover,.nav-links a.ac{
    background:rgba(206, 184, 184, 0.1);
    transform:translateY(-2px)
}
.menu-toggle{
    display:none;
    cursor:pointer
}
.menu-toggle span{
    display:block;
    width:28px;
    height:3px;
    background:#ffffff;
    margin:5px 0;
    transition:.3s
}

/* Main Section */
.hero{
    height:70vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), 
                url('https://img.freepik.com/free-photo/abstract-blur-coffee-shop-cafe-interior_74190-6342.jpg?semt=ais_hybrid&w=740&q=80') center/cover no-repeat fixed;
    color:white;
    position:relative;
    overflow:hidden;
}
.hero-content{
    z-index:2;
    max-width:900px;
    padding:0 20px
}

.hero h1{
    font-size:4rem;
    margin-bottom:1rem;
    color:#edeef0;
    animation:fadeInUp 1s
}
.typing-text{
    font-size:1.6rem;
    color:rgba(247, 148, 0, 0.747);
    font-weight:600;
    position:relative;
    height:60px}
.text-option{
    position:absolute;
    width:55%;
    opacity:0;
    animation:
    textCycle 12s infinite}
.text-option:nth-child(1){animation-delay:0s}
.text-option:nth-child(2){animation-delay:4s}
@keyframes textCycle
{0%,100%{opacity:0;transform:translateY(20px)}10%,25%{opacity:1;transform:translateY(0)}33%{opacity:0;transform:translateY(-20px)}}
.cta-btn{
    background:#44140f;
    color:#fff;
    padding:1rem 2.5rem;
    border:none;
    border-radius:50px;
    font-size:1.2rem;
    cursor:pointer;
    transition:.3s;
    display:inline-block;
    text-decoration:none
}
.cta-btn:hover{
    background:#4e4746;
    transform:translateY(-4px);
    box-shadow:0 15px 30px rgba(231,76,60,.3)
}

/* COMPANY PROFILE SECTION */
.company-profile-section {
    padding: 80px 20px;
    background:url('https://i.pinimg.com/736x/05/d1/cc/05d1cc219413102a4bcfc9f3d24dea2f.jpg') center/cover no-repeat fixed;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.compay-profile::before 
.company-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

.company-text {
    flex: 1;
    min-width: 350px;
    text-align: left;
}

.highlight {
    font-size: 1.35rem;
    line-height: 1.8;
    color: #050c13;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    max-width: 1100px;
    width: 90%;
    margin: 0 auto 50px auto;
}

.tracks-new {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.track-card {
    width: 320px;
    border-radius: 20px;
    overflow: hidden;
    overflow: hidden;
    box-shadow: 0 10px 0px rgba(12, 0, 0, 0.12);
    transition: all 0.4s ease;
    text-align: center;
}

.track-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 25px 50px rgba(231,76,60,0.3);
}

.track-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.company-image img {
    width: 100%;
    max-width: 550px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}
/* OUR PRODUCT(menu) */
.product-section {
    padding: 50px 20px;
    background: url('https://i.pinimg.com/736x/05/d1/cc/05d1cc219413102a4bcfc9f3d24dea2f.jpg') center/cover fixed;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: relative;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.product-item {
    background: white;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    transition: all 0.4s ease;
    text-align: center;
}

.product-item:hover {
    transform: translateY(-20px);
    box-shadow: 0 30px 60px rgba(26, 18, 18, 0.35);
}

.product-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.5s;
}

.product-item:hover img {
    transform: scale(1.08);
}

.product-item h3 {
    margin: 25px 0 10px;
    color: #272626;
    font-size: 1.6rem;
}

.product-item p {
    color: #555;
    padding: 0 20px 30px;
    font-size: 1.1rem;
}
.profile-product {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    color: #ac641d;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}
/* CONTACT */
.contact-section {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 0px 20px;
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), 
                url('https://img.freepik.com/free-photo/abstract-blur-coffee-shop-cafe-interior_74190-6342.jpg?semt=ais_hybrid&w=740&q=80') center/cover no-repeat fixed;
    height: auto;
    display: flex;
    flex-direction: column;
    bos-sizing: border-box;
    overflow: hidden;
}

.contact-title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: center;
}
.contact-p {
    font-size: 1.2rem;
    color: #fcfbfb;
    margin-bottom: 40px;
}
.contact-content {
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Form */
form {
    background: rgb(252, 251, 251);
    padding: 50px 40px;
    border-radius: 20px;
    max-width: 400px;
    margin-top:30px ;
    margin-bottom: 40;
    margin: auto;
    animation: fadeInUp 1s ease;
}

form .form-group {
    margin-bottom: 20px;
    text-align: left;

}
input, select, textarea {
    width: 100%;
    padding: 18px 20px;
    border: 2px solid #ddd;
    border-radius: 16px;
    font-size: 1.1rem;
    background: #fcfcfc;
    transition: all 0.4s ease;
    margin-bottom: 10px;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #cfcbca;
    background: rgb(241, 239, 239);
    box-shadow: 0 0 0 5px rgba(233, 227, 226, 0.15);
    transform: translateY(-3px);
}

.btn {
    background: linear-gradient(45deg, hsl(7, 27%, 18%), hsl(22, 76%, 5%));
    color: rgb(248, 241, 241);
    padding: 10px 50px;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s; ease;
    margin-top: 20px;
}

.btn:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(14, 9, 8, 0.5);
}

/* Info box */
.info-box {
    background: rgba(255, 255, 255, 0.97);
    padding: 30px 35px;                    
    border-radius: 28px;
    max-width: 420px;
    width: 100%;
    margin: 30px auto;                  
    text-align: left;
    animation: fadeInUp 1s ease 0.2s both;
    backdrop-filter: blur(10px);
}

/* Animasi masuk */
@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(40px); }
    to   { opacity: 1; transform: translateY(0); }
}

/* FOOTER */
footer{
    background:#201202;
    color:#ecf0f1;
    text-align:center;
    padding:20px;
    font-size:1rem
}
@media (max-width: 768px) {

    /* PAKSA MENU KELIHATAN DI HP */
    .nav-links {
    display: flex !important;
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 80px);
    background:linear-gradient(45deg, hsl(15, 2%, 40%), hsl(24, 9%, 90%));
    padding-bottom: 50px;
    transition: left 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 20px;
    gap: 150px;

}
    .nav-links.active {
        left: 0;
        transition: left 0.5s cubic-bezier(0.32, 0, 0.67, 0);
    }

    .nav-links a {
        color: hsl(18, 83%, 9%);
        font-size: 1.0;
        font-weight: 600;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        opacity: 1 !important;
    }

    /* Hamburger */
    .menu-toggle {
        display: flex;
        flex-direction: column;
        gap: 6px;
        z-index: 1001;
    }

    .menu-toggle span {
        width: 28px;
        height: 3px;
        background: #fff;
        transition: 0.3s;
    }

    .menu-toggle.active span:nth-child(1) { transform: rotate(45deg) translate(8px, 8px); }
    .menu-toggle.active span:nth-child(2) { opacity: 0; }
    .menu-toggle.active span:nth-child(3) { transform: rotate(-45deg) translate(8px, -8px); }

    /* Contact*/
    .contact-content {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    form, .info-box {
        max-width: 92%;
        margin: 20px auto;
    }
}